body { background-color : #D1D0CE; 
	color: 29abb3;
	font-family: Century Gothic;
	text-align: center; }
p { font-size: 20; }
a {font-family: century gothic; }
a:link { font-size: 12;
	text-decoration: none; 
	color: white;}
a:hover { color: green; 
	font-style: italic; 
	font-family: Trebuchet MS}
a:active { color: purple;
	font-style: italic; }
a:visited { color: orange;
	font-style: italic; }