body { background-color : white;
            color : #606060;
            font-family : sans-serif;
            font size : 12; }
a:link { color : #00FFFF; 
            text-decoration : none; }
a:visited { color : #00FFFF; 
                 text-decoration : none;}
a:hover { font-size : 15; 
	font-family : georgia;
               color : #FFFF00; 
               text-decoration : bold;}
a:active { color : #00FFFF; 
                 text-decoration : bold;} 
h1 { font-family : georgia;
       color : #000033 }
td { font-size : 12;
        font-family : microsoft sans serif; }
